[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
opencv-python = "*"
pycocotools = "*"
matplotlib = "*"
onnxruntime = "*"
onnx = "*"
tqdm = "*"
scikit-image = "*"
monai = "*"
pillow = "*"
wandb = "*"
pandas = "*"
boto3 = "*"
jupyterlab = "*"
tifffile = "*"
tabulate = "*"
scipy = "*"
timm = "*"
psycopg = {extras = ["binary"], version = "*"}
sqlalchemy = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
